$boxShadow: inset 0 0 1rem 0.5rem rgba(144, 97, 144, 0.5);
$numbersCardBackground: #EEE;
$gradient: linear-gradient(#237b26, 70%, #4d2c93);

//shadow//
$box-shadow: 0.5rem 0.5rem 1rem 0rem rgba(0,0,0,0.1);

//colors//
$whitey: #eee;
$highlight:rgb(42, 46, 47);
$v-lightblue:#b8ddef;

//fonts//
$oswald: 'Oswald', sans-serif;
$sans:'Noto Sans', sans-serif;

 